@import "./styles/fonts.scss";
@import "./styles/app.min.css";

/* 컨테이너 스타일 */
.chat-container,
.editor-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 250px);
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 10px;
}

.chat-messages {
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  background-color: #f1f1f1;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  margin: 8px;
}

.editor-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 20px 20px 20px;
}

.chat-messages::-webkit-scrollbar,
.editor-wrapper::-webkit-scrollbar {
  width: 6px;
}

.chat-messages::-webkit-scrollbar-track,
.editor-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-messages::-webkit-scrollbar-thumb,
.editor-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.chat-messages::-webkit-scrollbar-thumb:hover,
.editor-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 채팅 버블 스타일 */
.user-bubble,
.justia-bubble {
  position: relative;
  width: 80%;
  max-width: auto;
  height: auto;
  min-height: 60px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.user-bubble {
  background: #e7fde8;
  color: #000000;
  margin-left: auto;
  margin-right: 15px;
}

.justia-bubble {
  background: #e9f6ff;
  color: #000000;
  margin-right: auto;
  margin-left: 15px;
}

.user-bubble:after,
.justia-bubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  z-index: 1;
  top: 50px;
}

.user-bubble:after {
  border-width: 12px 0 12px 12px;
  border-color: transparent #d8ffda;
  right: -12px;
}

.justia-bubble:after {
  border-width: 12px 12px 12px 0;
  border-color: transparent #d8f1ff;
  left: -12px;
}

/* 에디터 스타일 */
.demo-wrapper {
  height: 100%;
}

.demo-editor {
  height: calc(100% - 130px) !important;
  border: 1px solid #d3d3d3 !important;
  padding: 5px !important;
  border-radius: 5px !important;
}

.demo-toolbar {
  border: 1px solid #f1f1f1 !important;
  margin-bottom: 5px !important;
}

/* 드롭다운 스타일 */
.rdw-dropdown-wrapper {
  position: relative;
  z-index: 100;
}

.rdw-dropdown-optionwrapper {
  position: absolute;
  z-index: 101;
}

.rdw-dropdown-selectedtext {
  padding: 5px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.rdw-dropdownoption-default {
  padding: 5px;
}

.rdw-dropdownoption-highlighted {
  background: #f1f1f1;
}

/* 툴바 옵션 스타일 */
.toolbar-block,
.toolbar-font-size,
.toolbar-font-family {
  display: inline-block;
  margin: 0 5px;
}

.rdw-option-wrapper {
  border: 1px solid #f1f1f1;
  padding: 5px;
  min-width: 25px;
  height: 20px;
  border-radius: 2px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  text-transform: capitalize;
}

.rdw-option-active {
  background: #f1f1f1;
}

.custom-dropdown-toggle {
  background-color: #f8f9fa !important;
  color: #333 !important;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

.custom-dropdown-toggle:hover,
.custom-dropdown-toggle:focus {
  background-color: #f3f5f7 !important;
}
